:root {
    --text-color-inputs: rgb(66, 183, 255);
}

.input-area-container {
    display: flex;
    flex-direction: column;

    width: 33%;
    padding: 60px 0px 60px 0px;
    background-color: rgb(228, 228, 228);

    .input-area-wrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        row-gap: 30px;
        width: 80%;

        .divider-line {
            border-bottom: 2px solid #6c6c6c92;
        }
    }
}

/* MOBILE SCREENS, set the container styling, rest will follow */
@media screen and (max-width: 900px) {
    .input-area-container {
        width: 90%;
        padding: 5%;
    }
}

/* GENERAL INPUT STYLING */
input[type=text], input[type=number] {
    height: 30px;
    padding: 10px;
    border-radius: 5px;

    font-size: larger;
    font-weight: bold;
}

input::placeholder {
    font-weight: normal;
}

/* NUMBER INPUT STYLING (BASIC INPUT FIELDS) */
.numberInput-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .numberInput-field-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 2.5em;

        .numberInput-field {
            flex: 1; /* Input field grows to take as much width as possible */
            min-width: 0; /* Required to override input field default behaviour to resist shrinking below their content size */
            border: none;
            color: var(--text-color-inputs);
        }

        .numberInput-field:focus {
            outline: none;
        }
    }
}

/* RANGE INPUT STYLING */
.rangeInput-container {
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;

    .rangeInput-title {
        margin-bottom: 0;
    }

    .rangeInput-wrapper {
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 5px;
        width: 90%;
    }

    .rangeInput-field-wrapper {

        display: flex;
        flex-direction: row;
        
        .rangeInput-field {
            display: flex;
            text-align: center;
            width: 2.5em;
            
            border: none;
            border-radius: 5px 0 0 5px;
            color: var(--text-color-inputs);
    
            padding: 10px 0 10px 0px;
        }
    
        .rangeInput-field:focus {
            outline: none;
        }
        
        .rangeInput-field-symbol {

            display: flex;
            align-items: center;
            background-color: white;
            
            border: none;
            border-radius: 0 5px 5px 0;

            font-size: larger;
            font-weight: bold;
            color: var(--text-color-inputs);
    
            padding: 10px 10px 10px 0;
        }
    }

    .rangeInput {
        appearance: none; /* Override default look */
        height: 10px;
        border-radius: 5px;
        width: 100%;
        background-attachment: fixed;
        /* box-shadow: 5px 10px 10px #00000040; */
    }
    
    .rangeInput::-webkit-slider-thumb {
        appearance: none; /* Override default look */
        width: 30px;
        height: 30px;
        background: #4bb7fe;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: .1s;
    }

    .rangeInput::-webkit-slider-thumb:hover {
        box-shadow: 0 0 0 10px #3b8cf039;
    }
    
    .rangeInput::-moz-range-thumb {
        appearance: none; /* Override default look */
        width: 30px;
        height: 30px;
        background: #589eff;
        border-radius: 50%;
        cursor: pointer;
    }
}

/* DROPDOWN INPUT STYLING */
.dropdownInput-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    .dropdown-title-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 2.5em;

        .dropdown-button {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            
            height: 100%;
            width: 2em;
            margin-right: 10px;
            
            background-image: url("/images/icons/ArrowDown.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            cursor: pointer;
            transition: transform 0.1s ease-in;
        }

        .dropdown-button:hover {
            filter: invert(0.5);
        }

        .dropdown-button.rotate {
            transform: rotate(180deg);
        }
    }

    .dropdown-wrapper {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        border-radius: 5px;

        .dropdown-content {
            display: flex;
            row-gap: 5px;
            flex-direction: column;
            max-height: 0;
            transition: max-height 0.1s linear;
            overflow: hidden;
            
            .dropdown-option {
                padding: 10px;
                height: 2.5em;
                cursor: pointer;
            }

            .dropdown-option:hover {
                background-color: #85cbfad5;
            }
        }

        .dropdown-content.animation {
            max-height: var(--dropdownHeight);
        }

        .dropdownInput-field {
            font-weight: normal;
            height: 30px;
            border: none;
            border-radius: 5px;
            background-color: rgba(215, 215, 215, 0.546);
        }
    }
}

/* TOGGLE INPUT STYLING */
.toggleInput-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .toggleInput-wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .toggleInput-field {
        width: 33%;
        height: 35px;
        border: none;
        border-radius: 5px;
        color: var(--text-color-inputs);
    }

    .toggleInput-switch {
        position: relative;
        width: 66%;
        border-radius: 25px;
        background: linear-gradient(45deg, rgba(29,125,255,1) 0%, rgba(72,214,255,1) 100%);
        cursor: pointer;
        user-select: none;
        margin-right: auto;
    }
    
    .toggleInput-track {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .toggleInput-thumb {
        position: absolute;
        width: 45%;
        height: 80%;
        border-radius: 25px;
        background-color: white;
        transition: left 0.2s ease;
    }
    
    .toggleInput-content {
        display: flex;
        align-items: center;
        justify-content: center;       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    /* Unselected option */
    .toggle-option {
        text-align: center;
        width: 50%;
        color: #000000;
        padding: 0 10px;
    }
    
    /* Selected option */
    .toggle-option.active {
        color: var(--text-color-inputs);
        font-weight: bold;
    }
}
